mat-form-field {
    width: 500px;
}

mat-label {
    color: white;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.mat-raised-button[disabled] {
    background-color: gray;
}

.add-note-border {
    border: 1px solid #FC8EAC;
    background-color: rgba(0, 0, 0, 0.8);
    width: 540px;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
}

.notetitle .mat-input-element {
    color: white;
}

.notecontent .mat-input-element {
    color: white;
}