<section class="add-note">
    <div class="add-note-border">
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (submit)="addNote(f)">
            <mat-form-field>
                <mat-label>Tytul notatki</mat-label>
                <input type="text" matInput ngModel name="notetitle" required #notetitleInput="ngModel">
                <mat-error *ngIf="notetitleInput.hasError('required')">Tytul notatki nie moze byc pusty.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tresc notatki</mat-label>
                <textarea type="text" matInput ngModel name="notecontent" required [rows]="5"
                    #notecontentInput="ngModel"></textarea>
                <mat-error>Tresc notatki nie moze byc pusta.</mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Utworz notatke</button> |
            <button type="submit" mat-raised-button color="accent" (click)="backToNotes()">Anuluj</button>
        </form>
    </div>
</section>