<div class="row">
    <div class="col s3">
        <app-side-menu></app-side-menu>
    </div>
    <div class="col s9">
        <h1>Dodaj notatke</h1>
        <div class="row" style="border: 1px solid #C62828;">
            <form [formGroup]="addNoteForm" (ngSubmit)="addNote()" action="" method="post" class="col s12">
                <br>
                <div class="row">
                    <label for="NoteTitle">Nazwa notatki</label>
                    <div class="input-field col s12">
                        <input id="NoteTitle" type="text" class="validate" formControlName="NoteTitle" ngDefaultControl
                            required>
                    </div>
                </div>
                <div *ngIf="addNoteForm.get('NoteTitle').invalid && (addNoteForm.get('NoteTitle').dirty || addNoteForm.get('NoteTitle').touched)"
                    class="alert alert-danger">
                    <div *ngIf="addNoteForm.get('NoteTitle').errors?.['required']">Nazwa notatki jest wymagana i nie
                        moze byc pusta!</div>
                </div>
                <div class="row">
                    <label for="NoteContent">Zawartosc notatki</label>
                    <div class="input-field col s12">
                        <textarea style="height: 200px;" id="NoteContent" type="text" class="validate"
                            formControlName="NoteContent" ngDefaultControl required></textarea>
                    </div>
                </div>
                <div *ngIf="addNoteForm.get('NoteContent').invalid && (addNoteForm.get('NoteContent').dirty || addNoteForm.get('NoteContent').touched)"
                    class="alert alert-danger">
                    <div *ngIf="addNoteForm.get('NoteContent').errors?.['required']">Zawartosc notatki jest wymagana i
                        nie
                        moze byc pusta!</div>
                </div>
                <div style="text-align: center;">
                    <button class="red btn" type="submit" name="saveBtn"
                        [disabled]="addNoteForm.invalid">Zapisz</button> |
                    <button class="red btn" type="submit" name="cancelBtn" [routerLink]=""
                        (click)="backToNotes()">Anuluj</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>