<div class="nav-bar">
    <div class="nav-flex-col">
        <div class="nav-item">
            <div class="nav-background" [routerLink]="['/dashboard']" [routerLinkActive]="['active']"
                (click)="dashboard()">
                <div class="icon-md">
                    <mat-icon>dashboard</mat-icon>
                </div>
                <div class="nav-title">Panel główny</div>
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-background" [routerLink]="['/tasks']" [routerLinkActive]="['active']" (click)="tasks()">
                <div class="icon-md">
                    <mat-icon>task</mat-icon>
                </div>
                <div class="nav-title">Zadania</div>
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-background" [routerLink]="['/notes']" [routerLinkActive]="['active']" (click)="notes()">
                <div class="icon-md">
                    <mat-icon>notes</mat-icon>
                </div>
                <div class="nav-title">Notatki</div>
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-background" [routerLink]="['/editor']" [routerLinkActive]="['active']" (click)="editor()">
                <div class="icon-md">
                    <mat-icon>edit</mat-icon>
                </div>
                <div class="nav-title">Edytor</div>
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-background" [routerLink]="['/calendar']" [routerLinkActive]="['active']"
                (click)="calendar()">
                <div class="icon-md">
                    <mat-icon>calendar_month</mat-icon>
                </div>
                <div class="nav-title">Kalendarz</div>
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-background" [routerLink]="['/archive']" [routerLinkActive]="['active']" (click)="archive()">
                <div class="icon-md">
                    <mat-icon>archive</mat-icon>
                </div>
                <div class="nav-title">Archiwum</div>
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-background" [routerLink]="['/entertainment']" [routerLinkActive]="['active']"
                (click)="entertainment()">
                <div class="icon-md">
                    <mat-icon>casino</mat-icon>
                </div>
                <div class="nav-title">Rozrywka</div>
            </div>
        </div>
    </div>
</div>