<section class="edit-task">
    <div class="edit-task-border">
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (submit)="editTask(f)">
            <mat-label style="color: #FC8EAC;">EDYTUJ ZADANIE</mat-label>
            <mat-form-field class="tasktitle">
                <mat-label>Tytul zadania</mat-label>
                <input type="text" matInput [(ngModel)]="task.tasktitle" name="notetitle" required
                    #tasktitleInput="ngModel">
                <mat-error *ngIf="tasktitleInput.hasError('required')">Tytul zadania nie moze byc pusty.</mat-error>
            </mat-form-field>
            <mat-form-field class="taskelements">
                <mat-label>Elementy zadania</mat-label>
                <input type="text" matInput [(ngModel)]="task.taskelements" name="taskelements"
                    (keyup.enter)="addToList($event)" required #taskelementsInput="ngModel">
                <mat-error *ngIf="taskelementsInput.hasError('required')">Zadanie musi zawierac przynajmiej 1 jego
                    skladowa.</mat-error>
            </mat-form-field>
            <div class="row">
                <div class="list col s12">
                    <ul class="collection" *ngFor="let item of listOfItems">
                        <li class="collection-item" style="background-color: #8a2641;; color: white;">{{item}}</li>
                        <button mat-raised-button color="accent" (click)="deleteItem(item)">Usuń</button>
                    </ul>
                </div>
            </div>
            <mat-form-field class="deadline">
                <mat-label>Termin wykonania zadania</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="task.deadline" name="deadline" required
                    #deadline="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="deadline.hasError('required')">Termin wykonania zadania jest wymagany.</mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Zapisz zadanie</button> |
            <button type="submit" mat-raised-button color="accent" (click)="backToTasks()">Anuluj</button>
        </form>
    </div>
</section>

<!-- <button mat-icon-button (click)="deleteItem(item)">
    <mat-icon>delete</mat-icon>
</button> -->