<div class="row">
  <div class="col s3">
    <app-side-menu></app-side-menu>
  </div>
  <div class="col s9">
    <h1>Zadania</h1>
    <br>
    <button class="red btn" type="submit" (click)="getTasks()">Odswiez</button>
    |
    <button class="red btn" type="submit" (click)="goToAddTask()" [routerLink]="'tasks/add-task'">Dodaj zadanie</button>
    <br>
    <hr color="red">
    <br>
    <div style="text-align: center; color: red; font-size: 28px;" *ngIf="tasks.length === 0">Brak zadan do wykonania
    </div>
    <div *ngIf="tasks.length > 0">
      <div class="card" *ngFor="let task of tasks">
        <div class="card-content white-text">
          <div>Tytul zadania:</div>
          <span class="card-title">{{task.taskTitle}}</span>
          <br>
          <div>Szczegoly zadania:</div>
          <div class="checkbox-list">
            <mat-checkbox [id]="task.taskId" style="display: flex; flex-wrap: wrap;"
              *ngFor="let data of task.taskElements" class="checkbox-check"
              (change)="updateProgressBar($event, task.taskId)" [disableRipple]="true">
              {{data}}
            </mat-checkbox>
          </div>
          <br>
          <div>Termin wykonania: {{task.deadLine}}</div>
          <div>Postep wykonania zadania:</div>
          <mat-progress-bar [id]="task.taskId" mode="determinate" [value]="progressVal"></mat-progress-bar>
        </div>
        <div style="text-align: center; color: white">
          <button class="red btn" (click)="goToEditTask(task.taskId)">Edytuj</button> |
          <button class="red btn" (click)="deleteTask(task.taskId)">Usun</button>
        </div>
      </div>
    </div>
  </div>
</div>