<h2 mat-dialog-title>Dodaj zadanie</h2>

<mat-dialog-content [formGroup]="addTaskForm">
    <mat-form-field>
        <label for="title">Tytuł zadania</label>
        <input matInput type="text" formControlName="title" required>
        <mat-error *ngIf="!addTaskForm.controls['title'].valid && addTaskForm.controls['title'].touched">
            Tytuł zadania jest wymagany!
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <label for="taskElements">Elementy zadania</label>
        <input matInput type="text" formControlName="taskElements" required>
        <mat-error *ngIf="!addTaskForm.controls['taskElements'].valid && addTaskForm.controls['taskElements'].touched">
            Elementy zadania są wymagane!
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Termin wykonania zadania</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="!addTaskForm.controls['date'].valid && addTaskForm.controls['date'].touched">
            Data wykonania zadania jest wymagana!
        </mat-error>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="cancel()">Anuluj</button>&nbsp;
    <button class="mat-raised-button mat-primary" (click)="save()">Zapisz</button>
</mat-dialog-actions>