<div class="tasks">
    <app-navbar></app-navbar>
    <div class="main-content">
        <div class="absolute-container">
            <h1>Zadania</h1>
            <hr>
            <br>
            <div class="page-content">
                <h2>Zadania</h2>
                <br>
                <div class="add-refresh">
                    <div class="add">
                        <button mat-mini-fab color="primary" (click)="addTaskDialog()">
                            <mat-icon>add</mat-icon>
                        </button>
                        &nbsp;<span>Dodaj zadanie</span>
                    </div>
                    <div class="refresh">
                        <button mat-mini-fab color="primary">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        &nbsp;<span>Odśwież</span>
                    </div>
                </div>
                <hr>
                <br>
                <div *ngIf="tasks.length > 0">
                    <mat-card *ngFor="let task of tasks">
                        <div class="card-container">
                            <div class="left-card">
                                <mat-card-header>
                                    <mat-card-title>Tytuł zadania: {{ task.title }}</mat-card-title>
                                </mat-card-header>
                                <label style="margin-left: 10px;">Szczegóły zadania:</label>
                                <mat-card-content>
                                    <div *ngFor="let elem of task.taskElements">
                                        <input class="task-checkbox" type="checkbox"
                                            (click)="updateTaskProgress()">&nbsp;{{
                                        elem }}
                                    </div>
                                </mat-card-content>
                            </div>
                            <div class="right-card">
                                <mat-icon class="task-icon">task_alt</mat-icon>
                            </div>
                        </div>
                        <mat-card-content>
                            <label>Termin wykonania zadania: {{ task.date | date }}</label>
                            <br><br>
                            <label>Postęp wykonania zadania: {{ width | number: '1.0-0' }}%</label>
                            <div class="progress-bar">
                                <div class="progress-inner"></div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer>
                            <div class="buttons">
                                <button mat-raised-button color="primary">Edytuj</button>&nbsp;
                                <button mat-raised-button color="primary">Usuń</button>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>