/* HTML TAGS */
*,
::after,
::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    word-wrap: break-word;
}

mat-card {
    margin-bottom: 10px;
}

mat-card-content,
mat-card-footer {
    margin: 10px 10px 10px 10px;
}

mat-form-field {
    width: 100%;
}

/* DIV CLASSES */
.tasks {
    display: flex;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.absolute-container {
    height: 100%;
    position: absolute;
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

.container-tasks {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    width: 25%;
    padding-right: 15px;
}

.widgets {
    padding-right: 15px;
    width: 100%;
    min-width: 100%;
}

.main-content {
    min-height: 0;
    min-width: 0;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
    width: 100%;
    height: 100%;
}

.page-content {
    width: 75%;
    padding-left: 15px;
}

.buttons {
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #333;
    border: 1px solid black;
}

.progress-inner {
    background-color: #f7f;
    width: 0%;
    min-width: 0%;
    max-width: 100%;
    height: 100%;
    transition: 0.5s;
}

.card-container {
    display: flex;
}

.left-card {
    width: 70%;
}

.right-card {
    width: 30%;
    height: 100%;
    text-align: end;
}

.task-icon {
    width: 100%;
    height: 100%;
    font-size: 10rem;
}

.add-refresh {
    display: flex;
    margin-bottom: 5px;
}

.add {
    width: 50%;
}

.refresh {
    width: 50%;
    text-align: end;
}

/* OTHER SETTINGS */
@media (min-width: 576px) {
    .absolute-container {
        width: calc(100vw - 80px);
    }
}