/* HTML TAGS */
*,
::after,
::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    word-wrap: break-word;
}

mat-card {
    margin-bottom: 10px;
}

mat-card-content,
mat-card-footer {
    margin: 10px 10px 10px 10px;
}

/* DIV CLASSES */
.tasks {
    display: flex;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.absolute-container {
    height: 100vh;
    position: absolute;
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

.main-content {
    min-height: 0;
    min-width: 0;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
    width: 100%;
    height: 100%;
}

.page-content {
    width: 80%;
    margin: 0 auto;
}

.buttons {
    text-align: center;
}

/* OTHER SETTINGS */
@media (min-width: 576px) {
    .absolute-container {
        width: calc(100vw - 80px);
    }
}