<div class="row">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/dashboard">
                    <div class="card">STRONA GLOWNA</div>
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a routerLink="/tasks">
                    <div class="card">ZADANIA</div>
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="/notes">
                    <div class="card">NOTATKI</div>
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="/editor">
                    <div class="card">EDYTOR</div>
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="/calendar">
                    <div class="card">KALENDARZ</div>
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="/archive">
                    <div class="card">ARCHIWUM</div>
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="/entertainment">
                    <div class="card">ROZRYWKA</div>
                </a>
            </li>
        </ul>
    </div>
</div>
