/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #fcd6d6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

h1 {
    font-size: 36px;
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
