/* HTML TAGS */
*,
::after,
::before {
    box-sizing: border-box;
}

/* DIV CLASSES */
.signup {
    display: flex;
    margin: 0 auto;
    max-width: calc(50rem + 170px + 17rem + 176px);
    width: 100%;
}

.signup-card {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 50rem;
    width: 100%;
    text-align: center;
}