/* Because this is whole theme for sidenav and background, get your image background there.  */
mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  background-image: url('../assets/img/galaxy-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

mat-sidenav-container {
  padding-top: 60px;
}

mat-sidenav {
  width: 250px;
  color: white;
  position: fixed;
  padding-top: 60px;
}

::ng-deep .mat-drawer-inner-container {
  background-color: black;
}

mat-toolbar {
  background-color: black;
  color: white;
  position: fixed;
  z-index: 10;
  height: 60px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

hr {
  color: white;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}