<div class="login">
    <div class="login-card">
        <h1>Zaloguj się</h1>
        <hr>
        <br>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" autocomplete="off">
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Nazwa użytkownika</mat-label>
                    <input matInput type="text" formControlName="username" required>
                    <mat-error *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                        Nazwa użytkownika jest wymagana!
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Hasło</mat-label>
                    <input matInput type="password" formControlName="password" required minlength="8">
                    <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                        Nie można wstawiać pustego hasła, lub też jest ono nieprawidłowe!
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Zaloguj
                    się</button>&nbsp;
                <button mat-raised-button color="primary" type="submit" (click)="onSignup()">Zrejestruj
                    się</button>
            </div>
        </form>
    </div>
</div>