<div class="login">
    <div class="login-card">
        <h1>Zaloguj się</h1>
        <hr>
        <br>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" autocomplete="off">
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Nazwa użytkownika</mat-label>
                    <input matInput type="text" formControlName="username" required>
                    <mat-error *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                        Nazwa użytkownika jest wymagana!
                    </mat-error>
                </mat-form-field>
            </div>
            <br>
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Hasło</mat-label>
                    <input #pass matInput type="password" formControlName="password" required minlength="8">
                    <mat-hint align="end">{{ pass.value.length }} / 8</mat-hint>
                    <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                        Wprowadzone hasło jest za krótkie (min. 8 znaków bez symboli)
                    </mat-error>
                </mat-form-field>
            </div>
            <br>
            <br>
            <div>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Zaloguj
                    się</button>&nbsp;
                <button mat-raised-button color="primary" (click)="onSignup()">Zrejestruj
                    się</button>
            </div>
        </form>
        <br>
        <div *ngIf="authService.loginFailed">
            <div class="login-failed-box">
                <span style="color: red;">Podany login oraz hasło są błędne!</span>
            </div>
        </div>
        <div *ngIf="authService.connectionFailed">
            <div class="connection-failed-box">
                <span style="color: red;">Błąd połączenia z bazą danych!</span>
            </div>
        </div>
    </div>
</div>