<div class="login">
    <div class="login-card">
        <h1>Zaloguj się</h1>
        <hr>
        <br>
        <form autocomplete="off">
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Nazwa użytkownika</mat-label>
                    <input matInput type="text" formController="username">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Hasło</mat-label>
                    <input matInput type="text" formController="password">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" type="submit">Zaloguj się</button>
            </div>
        </form>
    </div>
</div>