<section class="editor">
    <div class="editor-border">
        <h1>Edytor</h1>
        <br>
        <div class="canvas-field">
            <button mat-raised button color="accent" (click)="saveToStorage()">Zapisz</button> |
            <button mat-raised button color="accent" (click)="loadFromStorage()">Zaladuj</button> |
            <button mat-raised button color="accent" (click)="changeOptions()">Aktualizuj opcje plotna</button>

            <div style="width: 65%; height: 800px; border: 1px solid black">
                <canvas-whiteboard #canvasWhiteboard [options]="canvasOptions" [drawButtonClass]="'drawButtonClass'"
                    [drawButtonText]="'Rysuj'" [clearButtonClass]="'clearButtonClass'" [clearButtonText]="'Wyczysc'"
                    [undoButtonText]="'Cofnij'" [undoButtonEnabled]="true" [redoButtonText]="'Dalej'"
                    [redoButtonEnabled]="true" [fillColor]="'Kolor wypelnienia'" [strokeColor]="'Kolor pedzla'"
                    [colorPickerEnabled]="true" [strokeColorPickerEnabled]="true" [saveDataButtonEnabled]="true"
                    [saveDataButtonText]="'Zapisz'" [lineWidth]="5" [strokeColor]="'rgb(0,0,0)'"
                    [shouldDownloadDrawing]="true">
                </canvas-whiteboard>
            </div>
        </div>
    </div>
</section>