/* HTML TAGS */
*,
::after,
::before {
    box-sizing: border-box;
}

mat-dialog-content {
    width: 500px;
    height: 100%;
}

mat-dialog-actions {
    margin-bottom: 5px;
}

mat-form-field {
    width: 100%;
}

/* DIV CLASSES */
.dialog-content-container {
    width: 100%;
}

/* OTHER SETTINGS */