<br>
<div style="text-align: center;">
    <label style="font-size: 24px; color: #C62828;">Zarejestruj sie</label>
</div>
<br>
<div class="row" style="border: 1px solid #C62828;">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()" action="" method="post" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate" formControlName="UserName" ngDefaultControl required
                    minlength="8">
                <label for="username">Nazwa uzytkownika</label>
            </div>
        </div>
        <div *ngIf="userForm.get('UserName').invalid && (userForm.get('UserName').dirty || userForm.get('UserName').touched)"
            class="alert alert-danger">
            <div *ngIf="userForm.get('UserName').errors?.['required']">Nazwa uzytkownika jest wymagana!</div>
            <div *ngIf="userForm.get('UserName').errors?.['minlength']">Minimalna dlugosc musi wyniesc 8 znakow!</div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" formControlName="Email" ngDefaultControl required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <label for="email">Email</label>
            </div>
        </div>
        <div *ngIf="userForm.get('Email').invalid && (userForm.get('Email').dirty || userForm.get('Email').touched)"
            class="alert alert-danger">
            <div *ngIf="userForm.get('Email').errors?.['required']">Wprowadz adres e-mail!!</div>
            <div *ngIf="userForm.get('Email').errors?.pattern">Wprowadz wlasciwy adres e-mail!!</div>
        </div>
        <div class="row">
            <div class="input-field col s12" formControlName="Password" ngDefaultControl required minlength="8">
                <input id="password" type="password" class="validate">
                <label for="password">Haslo (musi miec minimum 8 znakow i byc wielokrotnoscia czworki i nie zawierac
                    zadnych symboli)</label>
            </div>
        </div>
        <div *ngIf="userForm.get('Password').invalid && (userForm.get('Password').dirty || userForm.get('Password').touched)"
            class="alert alert-danger">
            <div *ngIf="userForm.get('Password').errors?.['required']">Wprowadz haslo wedlug podanych wymogow!</div>
            <div *ngIf="userForm.get('Password').errors?.['minlength']">Minimalna dlugosc hasla musi wyniesc 8 znakow!
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="repeatPassword" type="password" class="validate" formControlName="RepeatPassword"
                    ngValidateEqual="Password" ngDefaultControl required>
                <label for="repeatPassword">Powtorz haslo</label>
            </div>
        </div>
        <div *ngIf="userForm.get('RepeatPassword').invalid && (userForm.get('RepeatPassword').dirty || userForm.get('RepeatPassword').touched)"
            class="alert alert-danger">
            <div *ngIf="userForm.get('RepeatPassword').errors?.['required']">Potwierdz swoje haslo!</div>
            <div *ngIf="userForm.get('RepeatPassword').hasError('notEqual')">Hasla nie sa identyczne!</div>
        </div>
        <div style="text-align: center;">
            <button class="red btn" type="submit" name="registerBtn" [disabled]="userForm.invalid">Zarejestruj</button>
            |
            <button class="red btn" type="submit" name="loginBtn" [routerLink]="" (click)="backToLogin()">Wroc do
                logowania</button>
        </div>
        <br>
    </form>
</div>