<div class="row">
    <div class="col s3">
        <app-side-menu></app-side-menu>
    </div>
    <div class="col s9">
        <h1>Archiwum</h1>
        <br>
        <h3 style="text-align: center;">Tutaj znajduja sie zarchiwizowane zadania i notatki.</h3>
        <br>
        <div class="row">
            <div class="col s4">
                <div class="tasks-archive">Zadania</div>
                <div *ngIf="getTaskArch.length === 0" style="text-align: center; color: red;">Nie zarchiwizowano zadnych
                    zadan</div>
                <div *ngIf="getTaskArch.length > 0">
                    <h4>Lista zadan</h4>
                    <div class="card" *ngFor="let taskArch of getTaskArch">
                        <div class="card-content white-text">
                            <span class="card-title">{{taskArch}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="notes-archive">Notatki</div>
                <div *ngIf="getNoteArch.length === 0" style="text-align: center; color: red;">Nie zarchiwizowano zadnych
                    notatek</div>
                <div *ngIf="getNoteArch.length > 0">
                    <h4>Lista notatek</h4>
                    <div class="card" *ngFor="let noteArch of getNoteArch">
                        <div class="card-content white-text">
                            <span class="card-title">{{noteArch}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>