h1 {
    text-align: center;
}

.archive-border {
    background-color: rgba(0, 0, 0, 0.8);
}

.col {
    border: 1px solid #FC8EAC;
    height: 700px;
    width: 50%;
}

.tasks-archive {
    width: auto;
    height: 30px;
    background-color: #8a2641;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 4px;
    margin: auto;
}

.notes-archive {
    width: auto;
    height: 30px;
    background-color: #8a2641;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 4px;
    margin: auto;
}

.card {
    background-color: #8a2641;
}

h1 {
    color: black;
}

h4 {
    text-align: center;
}