/* HTML TAGS */
*,
::after,
::before {
    box-sizing: border-box;
}

mat-grid-list {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

mat-grid-tile {
    cursor: pointer;
}

mat-grid-tile-header {
    justify-content: center;
}

h1 {
    text-align: center;
    word-wrap: break-word;
}

/* DIV CLASSES */
.dashboard {
    display: flex;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    text-align: center;
    min-width: 80px;
    max-width: 80px;
    background-color: #252525;
    color: white;
}

.nav-flex-col {
    display: block;
    height: 100%;
}

.nav-item {
    display: inline-block;
    height: 80px;
    width: 80px;
    border: none;
}

.icon-md {
    width: 24px;
    height: 24px;
    outline: none !important;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}

.nav-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.main-content {
    min-height: 0;
    min-width: 0;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;
    width: 100%;
    height: 100%;
}

.absolute-container {
    height: 100vh;
    position: absolute;
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

/* OTHER SETTINGS */
@media (min-width: 576px) {
    .absolute-container {
        width: calc(100vw - 80px);
    }
}