<div class="dashboard">
    <div class="nav-bar">
        <div class="nav-flex-col">
            <div class="nav-item">
                <div class="nav-background">
                    <div class="icon-md">
                        <mat-icon>task</mat-icon>
                    </div>
                    <div class="nav-title">Zadania</div>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-background">
                    <div class="icon-md">
                        <mat-icon>notes</mat-icon>
                    </div>
                    <div class="nav-title">Notatki</div>
                </div>
            </div>
            <div class="nav-item">
                <div class="nav-background">
                    <div class="icon-md">
                        <mat-icon>edit</mat-icon>
                    </div>
                    <div class="nav-title">Edytor</div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="absolute-container">
            <h1>Witaj w aplikacji Freditor! Tutaj możesz tworzyć notatki, zadania i nie tylko!</h1>
            <hr>
            <br>
            <div class="page-content">
                <h2>Od czego tutaj zacząć? Najlepiej od samego początku!</h2>
                <br>
                <h3>O Freditorze</h3>
                <br>
                <p style="text-align: center;">
                    Freditor to aplikacja łącząca pracę z prostotą. Dzięki przejrzystemu
                    interfejsowi użytkownika, poruszanie
                    się po stronie będzie dziecinnie proste! Wszystko sprowadza się do kilku kliknięć, które pozwolą
                    łatwiej
                    korzystać z dostępnych funkcjonalności.<br><br>W lewym, bocznym panelu możesz wybrać interesującą
                    Cię opcję lub skorzystać z szybkiego skrótu poniżej. ;)
                </p>
                <br>
                <mat-grid-list cols="4" rowHeight="200px" gutterSize="5px">
                    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
                        [style.background]="tile.color">
                        <mat-grid-tile-header>{{ tile.title }}</mat-grid-tile-header>
                        <mat-icon class="mat-grid-icons">{{ tile.icon }}</mat-icon>
                    </mat-grid-tile>
                </mat-grid-list>
                <br>
                <p>
                    Na skróty składają się:
                </p>
                <ul style="margin-left: 30px;">
                    <li><strong>Zadania</strong> - szybki dostęp do listy utworzonych zadań.</li>
                    <li><strong>Notatki</strong> - szybki dostęp do listy utworzonych notatek.</li>
                    <li><strong>Edytor</strong> - szybki dostęp do tablicy rysunkowej.</li>
                    <li><strong>Kalendarz</strong> - szybki dostęp do kalendarza.</li>
                </ul>
                <br>
                <p style="text-align: center;">
                    Więcej opcji można uzyskać w dostępnym pasku nawigacyjnym po lewej stronie aplikacji.
                </p>
            </div>
        </div>
    </div>
</div>