<section class="notes">
    <div class="notes-border">
        <h1>Notatki</h1>
        <br>
        <button mat-raised-button color="accent" type="submit" (click)="getNotes()">Odswiez</button> |
        <button mat-raised-button color="accent" (click)="goToAddNote()" [routerLink]="'notes/add-note'">Dodaj
            notatke</button>
        <br>
        <hr color="#FC8EAC">
        <br>
        <div style="text-align: center; color: #FC8EAC; font-size: 28px;" *ngIf="noteList.length === 0">
            Brak
            dostepnych
            notatek
        </div>
        <div *ngIf="noteList.length > 0">
            <div *ngFor="let note of noteList">
                <div class="card">
                    <div class="card-content white-text">
                        <div>Tytul notatki:</div>
                        <span class="card-title">{{ note.noteTitle }}</span>
                        <br>
                        <div>Zawartosc notatki:</div>
                        <div class="card-content">{{ note.noteContent }}</div>
                    </div>
                    <div style="text-align: center; color: white" *ngIf="note.noteId">
                        <button mat-raised-button color="accent" (click)="goToEditNote(note.noteId)">Edytuj</button> |
                        <button mat-raised-button color="accent" (click)="deleteNote(note.noteId)">Usun</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>