<div class="entertainment">
    <app-navbar></app-navbar>
    <div class="main-content">
        <div class="absolute-container">
            <h1>Rozrywka</h1>
            <hr>
            <br>
            <div class="page-content">
                <h2>Rozrywka</h2>
                <br>
                <mat-card class="center-card">
                    <mat-card-header>
                        <mat-card-title>Zakręć kostką</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p style="text-align: justify;">Zobaczmy, co takiego Cię dzisiaj spotka. :)</p>
                    </mat-card-content>
                    <div class="buttons">
                        <button mat-raised-button color="primary">Losuj!</button>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <mat-card-header>
                        <mat-card-title>Generuj śmieszny tekst</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p style="text-align: justify;">Absurd goni absurd. :)</p>
                    </mat-card-content>
                    <div class="buttons">
                        <button mat-raised-button color="primary">Generuj tekst</button>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>