<section class="add-task">
    <div class="add-task-border">
        <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (submit)="addTask(f)">
            <mat-form-field>
                <mat-label>Tytul zadania</mat-label>
                <input type="text" matInput ngModel name="notetitle" required #tasktitleInput="ngModel">
                <mat-error *ngIf="tasktitleInput.hasError('required')">Tytul zadania nie moze byc pusty.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Elementy zadania</mat-label>
                <input id="TaskElements" type="text" ngModel (keyup.enter)="addToList($event)" required
                    #taskelementsInput="ngModel">
                <mat-error *ngIf="taskelementsInput.hasError('required')">Zadanie musi zawierac przynajmiej 1 jego
                    skladowa.</mat-error>
            </mat-form-field>
            <div class="row">
                <div class="list col s12">
                    <ul class="collection" *ngFor="let item of listOfItems">
                        <li class="collection-item" style="background-color: #C62828; color: white;">{{item}}</li>
                    </ul>
                </div>
            </div>
            <mat-form-field>
                <mat-label>Termin wykonania zadania</mat-label>
                <input matInput [matDatepicker]="picker" ngModel required #deadline="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="deadline.hasError('required')">Termin wykonania zadania jest wymagany.</mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Utworz zadanie</button> |
            <button type="submit" mat-raised-button color="accent" (click)="backToTasks()">Anuluj</button>
        </form>
    </div>
</section>