mat-form-field {
    width: 500px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.add-task-border {
    border: 1px solid black;
    width: 540px;
    padding: 10px;
    text-align: center;
}